body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/green-table_1920x1280.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: #f5bb00;
}

.messageText{
	font-style: italic;
}

.blocks {
	display: inline-block;
}

button {
    color: #034F08;
    width: 130px;
    background: #f5bb00;
    padding-top: 7px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}